<header>
  <img class="logo" src="assets/logo.png" alt="" />
  <h1>Comidas</h1>
</header>
<div class="container">
  <div *ngFor="let item of items" class="card {item.type}">
    <h3>Fecha:</h3>
    <p>{{ item.date | date : "EEEE dd MMMM hh:mm" }}</p>
    <h3>Tipo:</h3>
    <p>{{ item.type }}</p>
    <h3>¿Qué comí?</h3>
    <p>{{ item.whatDidIEat }}</p>
    <h3>Imagen:</h3>
    <div class="conatiner-img">
      <iframe class="img" [src]="item.img"></iframe>
    </div>
    <h3>Descripción:</h3>
    <p>{{ item.description || "-" }}</p>
  </div>
</div>
